.blog-home{
	padding-top: 5%;
}

.blog-post-list{
	margin-top: 10%;
}

.featured-img img{
	height: 400px;
	width: 100%;
}

.category-list{
	font-size: 16px;
	line-height: 35px;
}

.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
