{% extends "base.html" %}

{% block title %}Blog - {{ category.category_name }}{% endblock %}

{% block content %}
<div class="container blog-home">
	<h2 class="page-header">Category: {{ category.category_name }}</h2>
	<div class="col-md-8">
		{% for post in posts %}
		<div class="blog-post-list">
			<div class="featured-img">
				<a href="{% url 'blog:post-detail' post.id %}">
				<img class="img-responsive" src="{{ post.post_image.url }}">
				</a>
			</div>
			<div class="page-header">
				<a href="{% url 'blog:post-detail' post.id %}">
				<h2>{{ post.post_title }}</h2>
				</a>
				<p>Published on: {{ post.date_created }}</p>
			</div>
			<p class="lead">{{ post.post_content | slice:"400" }}......</p>
			<p>Comments: {{ post.approved_comments.count }}</p>
			<a class="btn btn-primary" href="{% url 'blog:post-detail' post.id %}">Read more</a>
		</div>
		<hr>
		{% endfor %}
		
	</div>
	<div class="col-md-3 col-md-offset-1">
		<div class="archive-list">
			<div class="page-header">
				<h3>Categories</h3>
			</div>
			<ul class="list-unstyled">
			{% for category in categories %}
				<li class="category-list"><a href="{% url 'blog:category-detail' category.id %}">{{ category.category_name }}</a></li>
				<li role="separator" class="divider"></li>
			{% endfor %}
			</ul>
		</div>
		
	</div>
</div>
{% endblock %}