{% extends "base.html" %}


{% block title %}Blog - Post {{ post.pk }}{% endblock %}

{% block content %}
<div class="container blog-home">
	<div class="col-md-8">
		{% if messages %}
		{% for message in messages %}
		<div class="alert alert-{{ message.tags}}">{{ message }}</div>
		{% endfor %}
		{% endif %}
		<div class="blog-post-list">
			<div class="featured-img">
				<img class="img-responsive" src="{{ post.post_image.url }}">
			</div>
			<div class="page-header">
				<h2>{{ post.post_title }}</h2>
				<p>Published on: {{ post.date_created }}</p>
			</div>
			<p class="lead">{{ post.post_content|linebreaksbr }}</p>
		</div>
		<div class="post-comments">
			<h3>Comments</h3>
			{% for comment in post.comments.all %}
			{% if comment.approved_comment %}
			<div class="comment">
				<div class="comment-author"><strong>{{ comment.author}}</strong></div>
				<div class="comment-date">{{ comment.created_date }}</div>
				<p>{{ comment.text | linebreaks }}</p>
			</div>
			{% endif %}
			{% empty %}
			<h3>No comments here yet :(</h3>
			{% endfor %}

			<div class="add-comment">
				<p class="lead">Add comment</p>
				<form method="POST" action="{% url 'blog:add_comment' post.pk %}">{% csrf_token%}
					<label for="author">Author:</label>
					<input type="text" name="author" class="form-control" required>
					<label for="text">Comment:</label>
					<textarea class="form-control" rows="5" name="text" required></textarea>

					<button type="submit" class="btn btn-primary">Submit</button>
					<button type="reset" class="btn btb-danger">Cancel</button>
				</form>
			</div>
			
		</div>
	</div>
	<div class="col-md-3 col-md-offset-1">
		<div class="archive-list">
			<div class="page-header">
				<h3>Categories</h3>
			</div>
			<ul class="list-unstyled">
			{% for category in categories %}
				<li class="category-list"><a href="{% url 'blog:category-detail' category.id %}">{{ category.category_name }}</a></li>
				<li role="separator" class="divider"></li>
			{% endfor %}
			</ul>
		</div>
		
	</div>
</div>
{% endblock %}