{% extends "site_engine/base.html" %}
{% load crispy_forms_tags %}

{% block title %}New Project{% endblock %}

{% block content %}
<div class="col-md-9 col-md-offset-2 main">
  <h2 class="sub-header">Add New Project</h2>
  <div class="col-md-offset-2 col-md-4">
  	<form role="form" class="form-horizontal" action="" method="POST">{% csrf_token %}
  		{{ form|crispy}}
  		<button type="reset" class="btn btn-danger">Cancel</button>
  		<input type="submit" name="submit" class="btn btn-primary" value="Submit">
  	</form>
  </div>
  
</div>
{% endblock %}