{% extends "site_engine/base.html" %}

{% block title %}Dashboard - Post {{ post.id }}{% endblock %}

{% block content %}
	<div class="col-md-9 col-md-offset-2 main">
		<h2 class="sub-header">{{ post.post_title }}</h2>
		<p><strong>Category:</strong> {{ post.category }}</p>
		<hr>
		<div>
		{% if post.post_image %}
			<img src="{{ post.post_image.url }}" class="img-responsive center-block">
			{% endif %}
			<p class="lead">{{ post.post_content|linebreaksbr }}</p>
		</div>
		{% if not post.date_published %}
		<a class="btn btn-primary" href="{% url 'site_engine:publish-post' post.id %}"><i class="fa fa-pencil-square"></i> Publish</a>
		{% endif %}
		<a class="btn btn-success" href="{% url 'site_engine:edit-post' post.id %}"><i class="fa fa-edit"></i> Edit</a>
		<a class="btn btn-danger" href="{% url 'site_engine:delete-post' post.id %}" onclick="return confirm('Are you sure?')"><i class="fa fa-trash-o"></i> Delete</a>
	</div>
{% endblock %}