{% extends "site_engine/base.html" %}

{% block title %}Dashboard - Post {{ post.id }}{% endblock %}

{% block content %}
	<div class="col-md-9 col-md-offset-2 main">
		<h2 class="sub-header">{{ post.post_title }}</h2>
		<p><strong>Category:</strong> {{ post.category }}</p>
		<hr>
		<div>
			<img src="{{ post.post_image.url }}" class="img-responsive center-block">
			<p class="lead">{{ post.post_content|linebreaksbr }}</p>
		</div>
		<a class="btn btn-success" href=""><i class="fa fa-edit"></i> Edit</a>
		<a class="btn btn-danger" href=""><i class="fa fa-trash-o"></i> Delete</a>
	</div>
{% endblock %}