{% extends "base.html" %}
{% load staticfiles %}

{% block title %}PieroMuguna - Home{% endblock %}

{% block content %}
<div class="container-fluid hero-section">
	<div class="hero-text">
		<h1>Hello World!</h1>
	</div>
</div>
<div id="about" class="container auto-b">
	<div class="page-header">
		<h1 class="text-center">Who Am I?</h1>
	</div>
	<img class="img-responsive img-circle center-block bio-image" src="{% static '/images/me.png' %}">
	<p class="lead">Hi there, thanks for taking time to drop by. I am Piero, a passionate web development enthusiast who cares deeply about beautiful design and elegant code. My strengths are in complete end-end management of a new website development project.</p>
	<p class="lead">I'm on a journey to programming mastery, my main focus is Python's framework Django and PHP. I am all about coming up with state of art Django and PHP web applications. Join me as I work towards becoming a developer sensei!</p>
</div>
<div id="projects" class="container-fluid projects">
	<div class="container">
		<div class="page-header">
			<h1 class="text-center">My Projects</h1>
		</div>
		{% for project in projects %}
		<div class="col-md-4 project">
			<a href="{% url 'portfolio:project-details' project.id %}">
			<img class="img-responsive" src="{{ project.project_image.url }}">
			</a>
			<div class="project-description">
				<a href="{% url 'portfolio:project-details' project.id %}">
				<h3 class="page-header">{{ project.project_name }}</h3>
				</a>
				<p>{{ project.project_description | slice:"100" }}...</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}